* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Oswald", sans-serif;
}
.navegador {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
a {
  text-decoration: none;
  color: map-get($map: $colores-isla, $key: secundario);
}

.nombreParrafo {
  color: cadetblue;
  font-weight: bold;
  font-size: 16px;
}
.logo {
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  
}
.contenedorUl {
  background-color: #12a19a;
  display: flex;
  margin: auto;
  flex-flow: wrap;
  margin-block-end: 1rem;
  border-radius: 5rem;
}

ul {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-right: 1%;
}


p {@include flexbox(row, center, wrap);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.imgContenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: $color-cuarto;
  margin-top: 5%;
  margin-bottom: 2%;
}
h5 {
  @extend %flexRow;
  text-align: justify;
}
.redesSociales {
  text-decoration: none;
  list-style: none;
  margin-top: 6%;

}
footer ul {
  li {
    font-size: 1rem;
    padding: 1% 5%;

    a {
      color: $color-terciario;

      &:hover {
        color: "map-get($map:colores-isla, $key: hover-primario)";
      }
    }
  }

  background-color: $color-primario;
}

ul .redesSociales {
  font-size: 24px;
  text-align: center;
  margin:10px;
}

.redesContainer {
  width: 97%;
  height: 10%;
}

.carousel {
  width: 70%;
}

.parrafoQuienes {
  margin-top: 3%;
}

.tituloMarcas {
  border-block-start-style: groove;
}
